src/org/openelis/gwt/public/ScreenSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="Screen">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Display" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
              <xsd:element ref="panels" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="RPC" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
              <xsd:element ref="fields" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="key" type="xsd:string" use="required"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="AppButton" substitutionGroup="widgets">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element ref="panels" minOccurs="1" maxOccurs="1"/>
        <xsd:element ref="widgets" minOccurs="1" maxOccurs="1"/>
      </xsd:choice>
      <xsd:attribute name="action" type="xsd:string" use="required"/>
      <xsd:attribute name="toggle" type="xsd:boolean"/>
      <xsd:attribute name="onclick" type="xsd:string"/>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="AZTable" substitutionGroup="widgets">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ButtonPanel" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="tablewidth" type="xsd:string"/>
      <xsd:attribute name="title" type="xsd:string"/>
      <xsd:attribute name="maxRows" type="xsd:integer" use="required"/>
      <xsd:attribute name="colwidths" type="xsd:string" use="required"/>
      <xsd:attribute name="headers" type="xsd:string"/>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="AutoDropdown" substitutionGroup="widgets">
    <xsd:complexType mixed="true">
      <xsd:complexContent>
        <xsd:extension base="ScreenInputWidget">
          <xsd:sequence>
            <xsd:element name="widths" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="headers" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          </xsd:sequence>
          <xsd:attribute name="cat" type="xsd:string"/>
          <xsd:attribute name="serviceUrl" type="xsd:string"/>
          <xsd:attribute name="multiSelect" type="xsd:boolean"/>
          <xsd:attribute name="text" type="xsd:string"/>
          <xsd:attribute name="popWidth" type="xsd:string"/>
          <xsd:attribute name="autoParams" type="xsd:string"/>
          <xsd:attribute name="search">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="linear"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <xsd:attribute name="rows" type="xsd:integer"/>
          <xsd:attribute name="onchange" type="xsd:integer"/>
          <xsd:attributeGroup ref="case"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="ButtonPanel" substitutionGroup="panels">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="panels" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="widgets" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="Calendar" substitutionGroup="widgets">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="ScreenInputWidget">
          <xsd:attribute name="begin" type="xsd:integer" use="required"/>
          <xsd:attribute name="end" type="xsd:integer" use="required"/>
          <xsd:attribute name="week" type="xsd:boolean"/>
          <xsd:attribute name="onChange" type="xsd:string"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="Check" substitutionGroup="widgets">
    <xsd:complexType mixed="true">
      <xsd:complexContent>
        <xsd:extension base="ScreenInputWidget">
          <xsd:sequence>
            <xsd:choice>
              <xsd:element ref="panels" minOccurs="0" maxOccurs="1"/>
              <xsd:element ref="widgets" minOccurs="0" maxOccurs="1"/>
            </xsd:choice>
          </xsd:sequence>
          <xsd:attribute name="threeState" type="xsd:boolean"/>
          <xsd:attribute name="onClick" type="xsd:string"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="HTML" substitutionGroup="widgets">
    <xsd:complexType mixed="true">
      <xsd:attribute name="onclick" type="xsd:string"/>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="Image" substitutionGroup="widgets">
    <xsd:complexType>
      <xsd:attribute name="url" type="xsd:string"/>
      <xsd:attribute name="onclick" type="xsd:string"/>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="Label" substitutionGroup="widgets">
    <xsd:complexType mixed="true">
      <xsd:attribute name="text" type="xsd:string"/>
      <xsd:attribute name="wordwrap" type="xsd:boolean"/>
      <xsd:attribute name="onClick" type="xsd:string"/>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="MaskedTextBox" substitutionGroup="widgets">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="ScreenInputWidget">
          <xsd:attribute name="mask" type="xsd:string" use="required"/>
          <xsd:attribute name="next" type="xsd:string"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="MenuItem" substitutionGroup="widgets">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MenuDisplay" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:choice>
                <xsd:element ref="widgets" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="panels" minOccurs="0" maxOccurs="1"/>
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ref="MenuPanel" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="icon" type="xsd:string"/>
      <xsd:attribute name="label" type="xsd:string"/>
      <xsd:attribute name="description" type="xsd:string"/>
      <xsd:attribute name="onClick" type="xsd:string"/>
      <xsd:attribute name="class" type="xsd:string"/>
      <xsd:attribute name="args" type="xsd:string"/>
      <xsd:attribute name="enabled" type="xsd:boolean"/>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="MenuLabel" substitutionGroup="widgets">
    <xsd:complexType>
      <xsd:attribute name="text" type="xsd:string"/>
      <xsd:attribute name="image" type="xsd:string"/>
      <xsd:attribute name="onClick" type="xsd:string"/>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="MenuPanel" substitutionGroup="panels">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="widgets" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="panels" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="layout" type="xsd:string" use="required"/>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="Password" substitutionGroup="widgets" type="ScreenInputWidget">
  </xsd:element>
  
  <xsd:element name="QueryTable" substitutionGroup="widgets">
    <xsd:complexType mixed="true">
      <xsd:complexContent>
        <xsd:extension base="ScreenInputWidget">
          <xsd:sequence>
            <xsd:element name="headers" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="widths" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="editors" maxOccurs="1" minOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element ref="tablewidgets" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="fields" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="colAligns" type="xsd:string" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
          <xsd:attribute name="cellHeight" type="xsd:integer"/>
          <xsd:attribute name="maxRows" type="xsd:integer"/>
          <xsd:attribute name="title" type="xsd:string"/>
          <xsd:attribute name="showRows" type="xsd:boolean"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="Radio" substitutionGroup="widgets">
    <xsd:complexType mixed="true">
      <xsd:complexContent>
        <xsd:extension base="ScreenInputWidget">
          <xsd:attribute name="group" type="xsd:string" use="required"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="RichText" substitutionGroup="widgets" type="ScreenInputWidget"/>
  
  <xsd:element name="ScrollList" substitutionGroup="widgets">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="headers" type="xsd:string" maxOccurs="1" minOccurs="0"/>
        <xsd:element name="widths" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="maxRows" type="xsd:integer" use="required"/>
      <xsd:attribute name="cellHeight" type="xsd:integer"/>
      <xsd:attribute name="multi" type="xsd:boolean"/>
      <xsd:attribute name="maxHeight" type="xsd:string"/>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="StackPanel" substitutionGroup="panels">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="stack" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
              <xsd:element ref="panels" minOccurs="0" maxOccurs="unbounded"/>
              <xsd:element ref="widgets" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="text" type="xsd:string"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence> 
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="TabPanel" substitutionGroup="panels">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="tab" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
              <xsd:element ref="panels" minOccurs="0" maxOccurs="unbounded"/>
              <xsd:element ref="widgets" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="text" type="xsd:string"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="TablePanel" substitutionGroup="panels">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="row" maxOccurs="unbounded" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
              <xsd:element ref="widgets" maxOccurs="unbounded" minOccurs="0"/>
              <xsd:element ref="panels" maxOccurs="unbounded" minOccurs="0"/>
              <xsd:element name="col" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:choice>
                      <xsd:element ref="widgets" minOccurs="0" maxOccurs="1"/>
                      <xsd:element ref="panels" minOccurs="0" maxOccurs="1"/>
                    </xsd:choice>
                  </xsd:sequence>
                  <xsd:attribute name="colspan" type="xsd:integer"/>
                  <xsd:attribute name="rowspan" type="xsd:integer"/>
                  <xsd:attribute name="style" type="xsd:integer"/>
                  <xsd:attribute name="align">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="right"/>
                        <xsd:enumeration value="left"/>
                        <xsd:enumeration value="center"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="valign">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="top"/>
                        <xsd:enumeration value="bottom"/>
                        <xsd:enumeration value="middle"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="style" type="xsd:string"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="spacing" type="xsd:integer"/>
      <xsd:attribute name="padding" type="xsd:integer"/>
      <xsd:attributeGroup ref="ScreenWidget"/>   
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Table" substitutionGroup="widgets">
    <xsd:complexType mixed="true">
      <xsd:complexContent>
        <xsd:extension base="ScreenInputWidget">
          <xsd:sequence>
            <xsd:element name="headers" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="widths" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="editors" minOccurs="1" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                  <xsd:element ref="tablewidgets" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="fields" minOccurs="1" maxOccurs="1">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element ref="fields" maxOccurs="unbounded" minOccurs="1"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="filters" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="sorts" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="colAligns" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="statFilters" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="fixed" type="xsd:string" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
          <xsd:attribute name="manager" type="xsd:string"/>
          <xsd:attribute name="cellHeight" type="xsd:string"/>
          <xsd:attribute name="maxRows" type="xsd:integer" use="required"/>
          <xsd:attribute name="title" type="xsd:string"/>
          <xsd:attribute name="autoAdd" type="xsd:boolean"/>
          <xsd:attribute name="showRows" type="xsd:boolean"/>
          <xsd:attribute name="enable" type="xsd:boolean"/>
          <xsd:attribute name="rows" type="xsd:integer"/>
          <xsd:attribute name="showScroll" type="xsd:boolean"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>  
  
  <xsd:element name="Text" substitutionGroup="widgets">
    <xsd:complexType mixed="true">
      <xsd:attribute name="wordwrap" type="xsd:boolean"/>
      <xsd:attribute name="mouse" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="TextArea" substitutionGroup="widgets" type="ScreenInputWidget"/>
  
  <xsd:element name="TextBox" substitutionGroup="widgets">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="ScreenInputWidget">
          <xsd:attribute name="max" type="xsd:integer"/>
          <xsd:attributeGroup ref="case"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="TitledPanel" substitutionGroup="panels">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="legend" maxOccurs="1" minOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:choice>
                <xsd:element ref="panels" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="widgets" minOccurs="0" maxOccurs="1"/>
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="content" maxOccurs="1" minOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:choice>
                <xsd:element ref="panels" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="widgets" minOccurs="0" maxOccurs="1"/>
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="Tree" substitutionGroup="widgets">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="panels" maxOccurs="unbounded" minOccurs="0"/>
        <xsd:element ref="widgets" maxOccurs="unbounded" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="VerticalPanel" substitutionGroup="panels">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="widgets" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="panels" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="cell">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="widgets" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="halign">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="right"/>
                  <xsd:enumeration value="left"/>
                  <xsd:enumeration value="center"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="valign">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="top"/>
                  <xsd:enumeration value="middle"/>
                  <xsd:enumeration value="bottom"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element> 
      </xsd:sequence>
      <xsd:attribute name="spacing" type="xsd:integer"/>
      <xsd:attribute name="sizeToWindow" type="xsd:boolean"/>
      <xsd:attribute name="overflow">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="auto"/>
            <xsd:enumeration value="hidden"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="overflowX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="auto"/>
            <xsd:enumeration value="hidden"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="overflowY">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="auto"/>
            <xsd:enumeration value="hidden"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="VerticalSplitPanel" substitutionGroup="panels">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="section" minOccurs="2" maxOccurs="2">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="widgets" minOccurs="0" maxOccurs="unbounded"/>
              <xsd:element ref="panels" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="splitpos" type="xsd:string"/>
      <xsd:attribute name="sizeToWindow" type="xsd:boolean"/>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="WindowBrowser" substitutionGroup="widgets">
    <xsd:complexType>
      <xsd:attribute name="winLimit" type="xsd:integer"/>
      <xsd:attribute name="sizeToWindow" type="xsd:boolean"/>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="AbsolutePanel" substitutionGroup="panels">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="panels" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="widgets" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="widget" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="widgets" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="x" type="xsd:integer" use="required"/>
            <xsd:attribute name="y" type="xsd:integer" use="required"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="overflow">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="auto"/>
            <xsd:enumeration value="hidden"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="CollapsePanel" substitutionGroup="panels">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:choice>
          <xsd:element ref="panels" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="widgets" minOccurs="1" maxOccurs="1"/>
        </xsd:choice>
      </xsd:sequence>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DeckPanel" substitutionGroup="panels">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="deck" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
              <xsd:element ref="panels" minOccurs="0" maxOccurs="unbounded"/>
              <xsd:element ref="widgets" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="DisclosurePanel" substitutionGroup="panels">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="header" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
              <xsd:element ref="panels" minOccurs="0" maxOccurs="unbounded"/>
              <xsd:element ref="widgets" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="content" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
              <xsd:element ref="panels" minOccurs="0" maxOccurs="unbounded"/>
              <xsd:element ref="widgets" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="DockPanel" substitutionGroup="panels">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="panels" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="widgets" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="widget" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="widgets" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="dir" use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="north"/>
                  <xsd:enumeration value="south"/>
                  <xsd:enumeration value="east"/>
                  <xsd:enumeration value="center"/>
                  <xsd:enumeration value="west"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="halign">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="right"/>
                  <xsd:enumeration value="left"/>
                  <xsd:enumeration value="center"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="valign">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="top"/>
                  <xsd:enumeration value="middle"/>
                  <xsd:enumeration value="bottom"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="spacing" type="xsd:integer"/>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="HorizontalPanel" substitutionGroup="panels">
    <xsd:complexType>
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="panels" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="widgets" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="cell">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="widgets" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="halign">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="right"/>
                  <xsd:enumeration value="left"/>
                  <xsd:enumeration value="center"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="valign">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="top"/>
                  <xsd:enumeration value="middle"/>
                  <xsd:enumeration value="bottom"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element> 
      </xsd:sequence>
      <xsd:attribute name="spacing" type="xsd:integer"/>
      <xsd:attribute name="overflow">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="auto"/>
            <xsd:enumeration value="hidden"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="HorizontalSplitPanel">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="section" minOccurs="2" maxOccurs="2">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="panels" minOccurs="0" maxOccurs="unbounded"/>
              <xsd:element ref="widgets" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="splitpos" type="xsd:string"/>
      <xsd:attribute name="sizeToWindow" type="xsd:boolean"/>
      <xsd:attributeGroup ref="ScreenWidget"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="panels" abstract="true"/>
  
  <xsd:complexType mixed="true" name="ScreenInputWidget">
      <xsd:sequence>
        <xsd:element ref="widgets" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="query" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="widgets" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="showError" type="xsd:boolean"/>
      <xsd:attributeGroup ref="ScreenWidget"/>
  </xsd:complexType>
  
   
  <xsd:element name="widgets" abstract="true"/>
  
  <xsd:element name="tablewidgets" abstract="true"/>
  
  <xsd:attributeGroup name="ScreenWidget">
    <xsd:attribute name="key" type="xsd:string"/>
    <xsd:attribute name="style" type="xsd:string"/>
    <xsd:attribute name="width" type="xsd:string"/>
    <xsd:attribute name="height" type="xsd:string"/>
    <xsd:attribute name="tab" type="xsd:string"/>
    <xsd:attribute name="value" type="xsd:string"/>
    <xsd:attribute name="drop" type="xsd:string"/>
    <xsd:attribute name="drag" type="xsd:string"/>
    <xsd:attribute name="mouse" type="xsd:string"/>
    <xsd:attribute name="targets" type="xsd:string"/>
    <xsd:attribute name="hover" type="xsd:string"/>
    <xsd:attribute name="tip" type="xsd:string"/>
    <xsd:attribute name="alwaysEnabled" type="xsd:boolean"/>
    <xsd:attribute name="alwaysDisabled" type="xsd:boolean"/>
    <xsd:attribute name="onPanelClick" type="xsd:string"/>
    <xsd:attribute name="visible" type="xsd:boolean"/>
    <xsd:attribute name="shortcut" type="xsd:string"/>
  </xsd:attributeGroup>
  
  <xsd:attributeGroup name="case">
    <xsd:attribute name="case">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="upper"/>
          <xsd:enumeration value="lower"/>
          <xsd:enumeration value="mixed"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>
  
  <xsd:element name="fields" abstract="true"/>
  
  <xsd:element name="TableAutoDropdown" substitutionGroup="tablewidgets">
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:element name="widths" minOccurs="0" maxOccurs="1" type="xsd:string"/>
        <xsd:element name="headers" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="cat" type="xsd:string"/>
      <xsd:attribute name="serviceUrl" type="xsd:string"/>
      <xsd:attribute name="multiSelect" type="xsd:boolean"/>
      <xsd:attribute name="text" type="xsd:string"/>
      <xsd:attribute name="popWidth" type="xsd:string"/>
      <xsd:attribute name="autoParams" type="xsd:string"/>
      <xsd:attribute name="search">
       <xsd:simpleType>
         <xsd:restriction base="xsd:string">
            <xsd:enumeration value="linear"/>
         </xsd:restriction>
       </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="rows" type="xsd:integer"/>
     <xsd:attribute name="onchange" type="xsd:integer"/>
     <xsd:attributeGroup ref="case"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="TableCalendar" substitutionGroup="tablewidgets">
    <xsd:complexType mixed="true">
      <xsd:attribute name="begin" type="xsd:integer"/>
      <xsd:attribute name="end" type="xsd:integer"/>
      <xsd:attribute name="week" type="xsd:boolean"/> 
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="TableCheck" substitutionGroup="tablewidgets">
    <xsd:complexType>
      <xsd:attribute name="threeState" type="xsd:boolean"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="TableCollection" substitutionGroup="tablewidgets">
  </xsd:element>
  
  <xsd:element name="TableImage" substitutionGroup="tablewidgets"/>
  
  <xsd:element name="TableLabel" substitutionGroup="tablewidgets"/>
  
  <xsd:element name="TableMaskedBox" substitutionGroup="tablewidgets">
    <xsd:complexType>
      <xsd:attribute name="mask" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="TableMultiple" substitutionGroup="tablewidgets">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tablewidgets" minOccurs="2" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="TableTextBox" substitutionGroup="tablewidgets">
    <xsd:complexType>
      <xsd:attributeGroup ref="case"/>
      <xsd:attribute name="max" type="xsd:integer"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:complexType name="InputField" mixed="true">
    <xsd:attribute name="key" type="xsd:string" use="required"/>
    <xsd:attribute name="required" type="xsd:boolean"/>
  </xsd:complexType>
  
  <xsd:element name="CheckField" substitutionGroup="fields" type="InputField"/>
  
  <xsd:element name="CollectionField" substitutionGroup="fields" type="InputField"/>
  
  <xsd:element name="DateField" substitutionGroup="fields">
    <xsd:complexType mixed="true">
      <xsd:complexContent>
        <xsd:extension base="InputField">
          <xsd:attribute name="begin" type="xsd:integer" use="required"/>
          <xsd:attribute name="end" type="xsd:integer" use="required"/>
          <xsd:attribute name="max" type="xsd:integer"/>
          <xsd:attribute name="min" type="xsd:integer"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="DropdownField" substitutionGroup="fields" type="InputField"/>
  
  <xsd:element name="ModelField" substitutionGroup="fields" type="InputField"/>
  
  <xsd:element name="NumberField" substitutionGroup="fields">
    <xsd:complexType mixed="true">
      <xsd:complexContent>
      <xsd:extension base="InputField">
        <xsd:attribute name="type">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="double"/>
              <xsd:enumeration value="integer"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="min" type="xsd:integer"/>
        <xsd:attribute name="max" type="xsd:integer"/>
      </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="StringField" substitutionGroup="fields">
    <xsd:complexType mixed="true">
      <xsd:complexContent>
        <xsd:extension base="InputField">
          <xsd:attribute name="min" type="xsd:integer"/>
          <xsd:attribute name="max" type="xsd:integer"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="TableField" substitutionGroup="fields" type="InputField"/>
  
  <xsd:element name="QueryCheck" substitutionGroup="fields" type="InputField"/>
  
  <xsd:element name="QueryStringField" substitutionGroup="fields" type="InputField">
  </xsd:element>
  
  <xsd:element name="QueryDateField" substitutionGroup="fields">
    <xsd:complexType mixed="true">
      <xsd:complexContent>
        <xsd:extension base="InputField">
          <xsd:attribute name="begin" type="xsd:integer" use="required"/>
          <xsd:attribute name="end" type="xsd:integer" use="required"/>
          <xsd:attribute name="max" type="xsd:integer"/>
          <xsd:attribute name="min" type="xsd:integer"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
    
  <xsd:element name="QueryNumberField" substitutionGroup="fields">
    <xsd:complexType mixed="true">
      <xsd:complexContent>
      <xsd:extension base="InputField">
        <xsd:attribute name="type">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="double"/>
              <xsd:enumeration value="integer"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="min" type="xsd:integer"/>
        <xsd:attribute name="max" type="xsd:integer"/>
      </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>  
  
</xsd:schema>