src/org/openelis/gwt/public/XSLTSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://www.w3.org/1999/XSL/Transform" 
        xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
  <element name="value-of"/>
  <element name="call-template"/>
  <element name="stylesheet"/>
</schema>